/__pycache__/
/models/__pycache__/
/SwinIR/
/checkpoints_unet/
/apple_fastvit/*.pth.tar
*/*log*.txt
*log*.txt
**/*.pth.tar
**/*.pth
**/*.pt
**__pycache__/
*.ipynb_checkpoints
/apple_fastvit
/dataset/fairface-img**
/dataset/RFW/all/
/dataset/RFW/train/
/dataset/RFW/test/
/dataset/rfw_src/
/dataset/RFW/**.zip
/dataset/**.zip